version: "3.7"

services:
  db:
    container_name: "lar-idosos-db"
    image: "postgres:9.6"
    ports:
      - "5433:5432"
    environment:
        - POSTGRES_USER=postgres
        - POSTGRES_PASSWORD=postgres
        - POSTGRES_DB=lar-idosos
    restart: always
